.footer{
    background-color: orangered;
    padding: 22px;
    margin-top: 50px;
}
.trainning{
    background-color: black;
    color: white;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: solid 5px greenyellow;
    border-radius: 80px;
}
.type{
    font-size: 30px;
}
.parrafo{
    font-size: 25px;
}