body{
    background-color: rgb(50, 50, 240);
}
.main{
    width: 70%;
    background-color: aquamarine;
    border: solid 3px yellow;
    margin: 70px auto;
    padding: 30px;
}
.header{
    color: blue;
}
h1{
    color: red;
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px
}
.h1-1{
    color: seagreen;
}
.h2-2{
    color: orange;
}