body{
    background-color: rgb(50, 50, 240);
}
.main{
    width: 70%;
    background-color: blueviolet;
    border: solid 3px yellow;
    margin: 70px auto;
    padding: 30px;
}
h1{
    color: red;
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px
}